
body, .dark body {
  background: #000 !important;
  color: #fff;
}

.mensagem {
  display: inline-block;
  max-width: 80%;
  padding: 18px 24px;
  border-radius: 1.5rem;
  font-size: 1.09rem;
  line-height: 1.75;
  word-break: break-word;
  box-shadow: 0 2px 12px #4caf5033;
  margin-bottom: 2px;
  position: relative;
  border: 2px solid #4caf50;
  background: #111;
  color: #fff;
}

.usuario {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 56px;
  margin-bottom: 12px;
  gap: 0.7rem;
}
.usuario .mensagem {
  background: #4caf50;
  color: #fff;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.usuario .avatar {
  width: 40px;
  height: 40px;
  background: #4caf50;
  color: #000;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 1px 6px #4caf5055;
}

.bot {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 56px;
  margin-bottom: 12px;
  gap: 0.7rem;
}
.bot .mensagem {
  background: #333;
  color: #fff;
  border: 2px solid #4caf50;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.bot .avatar {
  width: 40px;
  height: 40px;
  background: #4caf50;
  color: #000;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 1px 6px #4caf5055;
}
